version: '3.8'
services:
  database:
    image: mysql:latest
    container_name: ${container_name}
    environment:
      MYSQL_ROOT_PASSWORD: ${db_passoword}
      MYSQL_DATABASE: ${db_name}
      MYSQL_USER: ${db_user}
      MYSQL_PASSWORD: ${db_password}
    ports:
      - "3306:3306"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 30s
      timeout: 10s
      retries: 5

volumes:
  db_data: {}
