main {
	text-align: center;
	display: flex;
}

#sidenav {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#profile_picture_container {
	display: flex;
	align-items: center;
}

#sidenav_content_container li {
	padding: 0.5em;
	display: flex;
	align-items: center;
}

#adm_content_container {
	margin-left: 0.25em;
	flex-grow: 1;
}
