*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --default_content_font: arial;
}

body,
main,
ul,
ol {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

main {
    font-family: var(--default_content_font);
    display: flex;
    flex-direction: column;
}

#project_logo {
	width: 128px;
}