*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
main,
ul,
li {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
}