#main_header_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo_container {
    display: flex;
    justify-content: start;
    align-items: center;
}

#main_nav ul {
    display: flex;
}

#main_nav ul > li {
    padding-left: 1em;
}