
body{
    background-color: #E9EBEC;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    margin: 0;
    padding: 0;

}

.barra{
    position: fixed;
    background-color: #006FA7;
    height: 100%;
    width: 210px;
    top:0;
}

.barra.dir{
    right: 0;
}

.barra.esq{
    left: 0;
}

.motivo{
    padding-left: 336px;
    padding-top: 90px;
}

form{ /* Muito problema para alinhar e deixar lado*/
    position: absolute;
    display: flex;
    font-size: 2rem;

}



.menu-flutuante{
    display: flex;
    width: 451px;
    height: 63px;
    font-size: 1rem; 
    margin-top:34px;
    border-radius: 10px;
}

.frequencia{
    padding-top: 90px;
    padding-left: 137px;
}

#inputs{
    display: flex;
    gap: 10px;
}

.data-hora{
    display: block;
    padding-left: 336px ;
    position: absolute;/*Não entendo pq ele não herda o position de form*/
    left: 0px; 
    top: 351px;

}


.hora-data{
    display: inline;
    width: 193px;
    height: 56px;
    font-size: 1.5rem;
    border-radius: 10px;
}



