body{
    background-color: #E9EBEC;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}

nav{
    position: fixed;
    height: 100%;
    width: 104px ;
    background-color: #006FA7;
    top:0;
    left: 0;
}

#botao-menu{
    position: absolute;
    left: 20%;
    background: none;
    border: none;
    font-size: 56px;
    color: white;
    cursor: pointer;
}

#home{
    position: absolute;
    left: 20%;
    padding-top: 100px;
    width: 64px;
    height: 64px;
}

#solicitacoes{
    position: absolute;
    left: 20%;
    padding-top: 200px;
    width: 64px;
    height: 64px;
}

#aprovadas{
    position: absolute;
    left: 20%;
    padding-top: 300px;
    width: 64px;
    height: 64px;
}

.pedido-transporte{
    position: relative;
    margin-top: 30px;
    left: 10%;
    background-color: #D3D9E0;
    border-radius: 100px;
    width: 1729px;
    height: 729px;
}

.pedido-transporte {
  display: flex;
  flex-direction: column;      
  justify-content: space-between;  
  height: 729px;              
  padding: 20px;               
}


.pedido-transporte .botoes {
    display: flex;
    justify-content: center;      
    gap: 20px;                    
}

.botoes {
  display: flex;
  justify-content: center;    
  gap: 20px;                   
}

.info{
    margin: 10px 0; 
}
.pedido-transporte .info {
  position: relative;
}

.pedido-transporte .dir{
    position: absolute;
    bottom: 575px;
    margin-left: 1000px
}

#frequencia {
  position: absolute;
  left: 10px;
  top: 55px;
  text-align: right;
}

#acompanhante {
  position: absolute;
  left: 10px;
  top: 135px;
  text-align: right;
}

#transporte-volta {
  position: absolute;
  left: 10px;
  top: 210px;
  text-align: right;
}

#aprovar {
    background-color: #339441;
    border-radius: 100px;
    font-size: 1.2rem;
    color: #FFFFFF;
    width: 277px;
    height: 60px;
    cursor: pointer;
}

#recusar {
    background-color: #BE3030;
    border-radius: 100px;
    font-size: 1.2rem;
    color: #FFFFFF;
    width: 277px;
    height: 60px;
    cursor: pointer;
}

#anexo {
    background-color: #3F5A6E;
    width: 336px;
    height: 60px;
    border-radius: 100px;
    font-size: 1.2rem;
    color: #FFFFFF;
    cursor: pointer;
}
