html{
    height: 100%;
}

body{
    background: #ADA9A9;
}

h1{
    color: #000
}

p{
    color: #000
}


.rectangle{
    width: 104px;
    height: 1081px;
    background-color: #1d4d71;
}

#titulo{
    font-family: Arial ;
    text-align: left;
    display: inline-block;

    padding-left: 175px;
    padding-top: 50px;
    font-size: 64
}

.side_bar{
    float: left;
    width: 104px;
    height: 1081px;
    background-color: #1d4d71;
}

.tabela{
    width:3264px;
    height:723px;
    margin-left:10%;
    border-radius: 50px;
    background: #D9D9D9;
}

#exportar{
    position: fixed;
    bottom:0;
    right: 0;
    border-radius: 10px;
    width: 238px;
    height: 56px;
    background: #FFFFFF;
}

#export_text{
    text-align: center;
    font-size: 26px;
}