body{
    background-color: #E9EBEC;
    display: flex;
}

#barra-lateralE {
  position: fixed;
  top: 0;
  left: 0;
  width: 11vw;
  height: 100%;
  background-color:#006FA7;
  padding: 20px;
}

.pergunta{
    font-family: 'Montserrat',sans-serif;
    font-size: 1.67vw;
    color: #0E0E0E;
    padding-top: 3.4vh;
}

.menu-flutuante{
    display: flex;
    width:23.49vw;
    height: 5.83vh;
}

.select-button{
    background-color: white;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%; 
    border-color: #E9EBEC;
}

#motivo-conteiner {
    margin-left: 56.25vw; /* desloca o container para a direita, fora da barra */
    padding: 2vh;          /* opcional: distancia do topo */
    width: 30vw;           /* largura proporcional */
}


    
    